.header {
    background-color: #333;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.header-content {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.5rem;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('new_image.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    pointer-events: none;
}

.header:hover .background-image {
    animation: rotate 3s linear infinite, flash 0.5s infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}